@import "tailwindcss";

@theme {
  /* Định nghĩa bảng màu từ ảnh bạn cung cấp */
  --color-olive: #778349;
  --color-cinnabar: #fe4a3b;
  --color-darkblue: #292b36;
  --color-ivory: #ebecee;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #ebecee;
    color: transparent;
  }
}

/* Ép buộc nền luôn phủ kín để không bị trắng khi zoom ra */
html, body {
  margin: 0;
  padding: 0;
  background-color: #292b36; /* Dark Blue */
  color: #ebecee;
  min-height: 100vh;
}